* {
  margin-top: 0.5em;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

#scene {
    width: 400px;
}

.option-button {
    background-color: lightgray;
}

.selected-option {
    background-color: darkgray;
}
